In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import tensorflow as tf

In [2]:
dataset = pd.read_csv('creditcard.csv')

In [3]:
dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [5]:
X = dataset.iloc[:,1:-1].values
Y= dataset.iloc[:,-1].values

In [6]:
print(X)

[[-1.35980713e+00 -7.27811733e-02  2.53634674e+00 ...  1.33558377e-01
  -2.10530535e-02  1.49620000e+02]
 [ 1.19185711e+00  2.66150712e-01  1.66480113e-01 ... -8.98309914e-03
   1.47241692e-02  2.69000000e+00]
 [-1.35835406e+00 -1.34016307e+00  1.77320934e+00 ... -5.53527940e-02
  -5.97518406e-02  3.78660000e+02]
 ...
 [ 1.91956501e+00 -3.01253846e-01 -3.24963981e+00 ...  4.45477214e-03
  -2.65608286e-02  6.78800000e+01]
 [-2.40440050e-01  5.30482513e-01  7.02510230e-01 ...  1.08820735e-01
   1.04532821e-01  1.00000000e+01]
 [-5.33412522e-01 -1.89733337e-01  7.03337367e-01 ... -2.41530880e-03
   1.36489143e-02  2.17000000e+02]]

In [7]:
Y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [8]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(X, Y , test_size = 0.2 , random_state = 42)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

X_test = sc.transform(X_test)

In [10]:
X_train

array([[ 0.99785119, -0.22962626, -0.20738468, ...,  0.11248883,
        -0.14374055, -0.30788875],
       [-0.205221  , -0.37821992,  1.02754428, ..., -0.92189789,
        -0.43984143, -0.1670264 ],
       [ 0.03655821,  0.49556347, -0.37003324, ...,  0.51372993,
         0.21235767, -0.30004345],
       ...,
       [-0.07533181,  0.59962034,  1.0072428 , ..., -0.3013968 ,
        -0.59571596, -0.33162078],
       [-1.50615534,  1.42172842, -1.66405501, ...,  1.23673372,
         1.01755287, -0.34315338],
       [ 0.62923844, -0.47354037,  0.25598759, ...,  0.00310728,
         0.11623211,  0.0961834 ]])

In [35]:
Y_test = Y_test > 0.5  
print(Y_test)

[ True False False ... False False False]

## Building ANN

In [11]:
ann = tf.keras.models.Sequential()

In [12]:
ann.add(tf.keras.layers.Dense(units = 6 , activation='relu'))

In [13]:
ann.add(tf.keras.layers.Dense(units = 6 , activation='relu'))

In [14]:
ann.add(tf.keras.layers.Dense(units = 1 , activation='sigmoid'))

## Traing ANN

In [15]:
ann.compile(optimizer = 'adam' , loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
ann.fit(X_train , Y_train , batch_size = 10 , epochs = 10)

Epoch 1/10
22785/22785 [==============================] - 50s 2ms/step - loss: 0.1041 - accuracy: 0.9565
Epoch 2/10
22785/22785 [==============================] - 48s 2ms/step - loss: 0.0035 - accuracy: 0.9994
Epoch 3/10
22785/22785 [==============================] - 50s 2ms/step - loss: 0.0029 - accuracy: 0.9995
Epoch 4/10
22785/22785 [==============================] - 44s 2ms/step - loss: 0.0031 - accuracy: 0.9994
Epoch 5/10
22785/22785 [==============================] - 43s 2ms/step - loss: 0.0028 - accuracy: 0.9994
Epoch 6/10
22785/22785 [==============================] - 43s 2ms/step - loss: 0.0031 - accuracy: 0.9994
Epoch 7/10
22785/22785 [==============================] - 43s 2ms/step - loss: 0.0026 - accuracy: 0.9994
Epoch 8/10
22785/22785 [==============================] - 45s 2ms/step - loss: 0.0028 - accuracy: 0.9994
Epoch 9/10
22785/22785 [==============================] - 44s 2ms/step - loss: 0.0026 - accuracy: 0.9995
Epoch 10/10
22785/22785 [==============================] - 45s 2ms/step - loss: 0.0027 - accuracy: 0.9995

In [39]:
Y_pred = ann.predict(X_test)
Y_pred = Y_pred > 0.5
print(Y_pred)

[[ True]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [42]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred, Y_test)

0.9792142129840946

## assigning weights

In [44]:
# we are assinging weights because our dataset is imbalanced , thats why we assingn weight so that our model would not be biased toward one prediction 
# for eg. suppose  if you have 1000 training set  for classification {Y{0.1}}
#          out of 1000 if 900 are y = 0 &  100 are y= 1 , now if we run algorithm our algorith will slightly biased towad y = 0 beacause  y = 0 are in higher number of training set #

In [19]:
weights = {0:1 , 1:577}

In [21]:
ann.fit(X_train , Y_train , batch_size = 10 , class_weight = weights , epochs = 10)

Epoch 1/10
22785/22785 [==============================] - 71s 3ms/step - loss: 0.3754 - accuracy: 0.9875
Epoch 2/10
22785/22785 [==============================] - 80s 4ms/step - loss: 0.3054 - accuracy: 0.9802
Epoch 3/10
22785/22785 [==============================] - 70s 3ms/step - loss: 0.2830 - accuracy: 0.9832
Epoch 4/10
22785/22785 [==============================] - 70s 3ms/step - loss: 0.2830 - accuracy: 0.9815
Epoch 5/10
22785/22785 [==============================] - 68s 3ms/step - loss: 0.2600 - accuracy: 0.9782
Epoch 6/10
22785/22785 [==============================] - 65s 3ms/step - loss: 0.2690 - accuracy: 0.9794
Epoch 7/10
22785/22785 [==============================] - 65s 3ms/step - loss: 0.2607 - accuracy: 0.9762
Epoch 8/10
22785/22785 [==============================] - 71s 3ms/step - loss: 0.2551 - accuracy: 0.9795
Epoch 9/10
22785/22785 [==============================] - 70s 3ms/step - loss: 0.2625 - accuracy: 0.9809
Epoch 10/10
22785/22785 [==============================] - 71s 3ms/step - loss: 0.2368 - accuracy: 0.9778

In [37]:
Y_pred_1 = ann.predict(X_test)
Y_pred_1 =Y_pred >0.5

print(np.concatenate((Y_pred_1.reshape(len(Y_pred_1),1),Y_test.reshape(len(Y_test), 1)),1))

[[ True  True]
 [False False]
 [False False]
 ...
 [False False]
 [False False]
 [False False]]

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test , Y_pred_1)

0.999403110845827

## Accuracy ~99%